<div class="form-group">
    <h1>Celebrity List</h1>
    <p>Here you will find the celebrity list and can add and remove celebrities from it.</p>
</div>
<div class="form-group">
    <a (click)="open(content)" class="btn btn-success" style="color: white;">Add New Celebrity</a>
</div>
<div class="form-group">
    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let celeb of celebrities;">
            <div class="card">
                <h5 class="card-header">{{ celeb.fullName }}</h5>
                <div class="card-body">
                    <p class="card-text">Birth Date: {{ celeb.birthdate | date }}</p>
                    <a (click)="open(content, celeb)" class="btn btn-primary" style="color: white;">Edit</a>&nbsp;
                    <a (click)="deleteCelebrity(celeb)" class="btn btn-danger" style="color: white;">Delete</a>
                </div>
            </div>
        </li>
    </ul>      
</div>

<ng-template #content let-modal>
    <div *ngIf="celebrity">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{ celebrity?.firstName }} {{ celebrity?.lastName }}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="input-group mb-3">
    
                </div>
                <div class="form-group">
                    First Name: <input class="form-control" name="firstName" [(ngModel)]="celebrity.firstName" #firstName="ngModel" required type="text" role="textbox" />
                </div>
                <div class="form-group">
                    Last Name: <input class="form-control" name="lastName" [(ngModel)]="celebrity.lastName" #lastName="ngModel" required type="text" role="textbox" />
                </div>
                <div class="form-group">
                    Nickname: <input class="form-control" name="nickname" [(ngModel)]="celebrity.nickname" #nickname="ngModel" type="text" role="textbox" />
                </div>
                <div class="form-group">
                    Birthdate: <input class="form-control" name="birthdate" [(ngModel)]="celebrity.birthdate" #birthdate="ngModel" type="date" role="textbox" />
                </div>
                <div class="form-group">
                    Occupation: <input class="form-control" name="occupation" [(ngModel)]="celebrity.occupation" #occupation="ngModel" type="text" role="textbox" />
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
        </div>
    </div>
</ng-template>
