<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['']">
        <img
            width="40"
            alt="Skull"
            src="../assets/images/skull-logo.png"
        />
        {{ title }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['is-active']">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/games']" [routerLinkActive]="['is-active']">
                    Games
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/celebrities']" [routerLinkActive]="['is-active']">
                    Celebrities
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/users']" [routerLinkActive]="['is-active']">
                    Users
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['is-active']">
                    Login
                </a>
            </li>
        </ul>
    </div>
</nav>