<footer class="footer  navbar-expand-lg navbar-dark bg-dark navbar-fixed-bottom" style="margin-top: 25px;">
    <div class="container">
      <span class="text-muted">
        Copyright&copy; 2021 Deadpool.com<br />
        View our <a [routerLink]="['/privacy']">Privacy Policy</a>
      </span>
    </div>
  </footer>
<div class="footer fixed-bottom">
    
</div>