<div class="form-group">
    <h1>Game List</h1>
    <p>Here you will find the game list and can add and remove games from it.</p>
</div>
<div class="form-group">
    <a (click)="open(content)" class="btn btn-success" style="color: white;">Add New Game</a>
</div>
<div class="form-group">
    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let game of games;">
            <div class="card">
                <h5 class="card-header">{{ game.name }}</h5>
                <div class="card-body">
                    <p class="card-text">Start Date: {{ game.startDate | date }}</p>
                    <p class="card-text">End Date: {{ game.endDate | date }}</p>
                    <a (click)="open(content, game)" class="btn btn-primary" style="color: white;">Edit</a>&nbsp;
                    <a (click)="deleteGame(game)" class="btn btn-danger" style="color: white;">Delete</a>
                </div>
            </div>
        </li>
    </ul>      
</div>

<ng-template #content let-modal>
    <div *ngIf="game">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{ game?.name }}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="input-group mb-3">
    
                </div>
                <div class="form-group">
                    Game Name: <input class="form-control" name="name" [(ngModel)]="game.name" #name="ngModel" required type="text" role="textbox" />
                </div>
                <div class="form-group">
                    Start Date: <input class="form-control" name="startDate" [(ngModel)]="game.startDate" #startDate="ngModel" required type="date" role="textbox" />
                </div>
                <div class="form-group">
                    End Date: <input class="form-control" name="endDate" [(ngModel)]="game.endDate" #endDate="ngModel" type="date" role="textbox" />
                </div>
                <div class="form-group">
                    Players:
                    <div class="form-group">
                        <ul>
                            <li *ngFor="let list of game?.picklists">
                                {{ list?.user.firstName }} {{ list?.user.lastName }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    Managers: 
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
        </div>
    </div>
</ng-template>
