<div class="form-group">
    <h1>User List</h1>
    <p>Here you will find the user list and can add and remove users from it.</p>
</div>
<div class="form-group">
    <a (click)="open(content)" class="btn btn-success" style="color: white;">Add New User</a>
</div>
<div class="form-group">
    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let user of users;">
            <div class="card">
                <h5 class="card-header">{{ user.firstName }} {{ user.lastName }}</h5>
                <div class="card-body">
                    <p class="card-text">Username: {{ user.username }}</p>
                    <p class="card-text">Email: {{ user.email }}</p>
                    <a (click)="open(content, user)" class="btn btn-primary" style="color: white;">Edit</a>&nbsp;
                    <a (click)="deleteGame(user)" class="btn btn-danger" style="color: white;">Delete</a>
                </div>
            </div>
        </li>
    </ul>      
</div>

<ng-template #content let-modal>
    <div *ngIf="user">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{ user?.firstName }} {{ user?.lastName }}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    Username: <input class="form-control" name="username" [(ngModel)]="user.username" #username="ngModel" required type="text" role="textbox" />
                </div>
                <div class="form-group">
                    First Name: <input class="form-control" name="firstName" [(ngModel)]="user.firstName" #firstName="ngModel" required type="text" role="textbox" />
                </div>
                <div class="form-group">
                    Last Name: <input class="form-control" name="lastName" [(ngModel)]="user.lastName" #lastName="ngModel" required type="text" role="textbox" />
                </div>
                <div class="form-group">
                    Email: <input class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel" required type="text" role="textbox" />
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
        </div>
    </div>
</ng-template>
