<div class="jumbotron">
    <h1 class="display-4">The Deadpool</h1>
    <p class="lead">Welcome to the Dumbest Game on Earth!</p>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/images/Mountains.JPG" alt="What is the Deadpool">
            <div class="card-body">
                <h5 class="card-title">What is the Deadpool?</h5>
                <p class="card-text">
                    The Deadpool is really just an asinine, juvenile, 
                    soul-sucking game where everyone picks 10 celebrities 
                    they think are going to kick the bucket next year. If 
                    you guess the most dead celebs...<br />
                    <strong>YOU WIN!</strong>
                </p>
                <p>
                    Helluva game, huh?
                </p>
                <a href="#" class="btn btn-primary">Start Playing!</a>
            </div>
        </div>
    </div>
</div>